# Databases
*.db

# Config
core/config/config*
!core/config/config.py
!core/config/config.sample

# Dev environment
*.code-workspace
__pycache__/

# Virtual environment
.venv
/.venv/

# OS Files
.DS_Store
