# Databases
*.db

# Config
core/config/config

# Dev environment
*.code-workspace
core/util/__pycache__/
core/network/__pycache__/
core/config/__pycache__/

# Virtual environment
.venv
/.venv/

# OS Files
.DS_Store
