<!DOCTYPE html>

<html>

<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">

  <title>{{n['dname']}} Dashboard</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">

  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<body>

        <div class="container">

            <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
              <a class="nav-link" href="/">Home</a>
              <a class="nav-link" href="payments">Payments</a>
              <a class="nav-link" href={{n['proposal']}} target="_blank">Proposal (EN)</a>
              <a class="nav-link" href={{n['proposalx']}} target="_blank">Proposal ({{n['proposalxlang']}})</a>
            </nav>

            <h1><center>delegate <strong>{{node['handle']}}</strong> status</center></h1>

            <div class="row">
                <div class="col-md-3">
                    <div class="alert alert-info" role="alert">Status: {{node['forging']}}</div>
                </div>
                <div class="col-md-3">
                    <div class="alert alert-info" role="alert">Rank: {{node['rank']}}</div>
                </div>
                <div class="col-md-3">
                    <div class="alert alert-info" role="alert">Voters: {{node['voters']}}</div>
                </div>
                <div class="col-md-3">
                    <div class="alert alert-info" role="alert">Votes: {{node['votes']}} {{n['coin']}}</div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <div class="alert alert-info" role="alert"><a href="{{ n['explorer'] }}wallets/{{node['wallet']}}/blocks" target="_blank">Total forged:</a> {{node['forged']}}</div>
                </div>
                <!--
                <div class="col-md-3">
                    <div class="alert alert-info" role="alert">Rewards: {{node['rewards']}}</div>
                </div>
                -->
                <div class="col-md-3">
                    <!--<div class="alert alert-info" role="alert">Sync status: {{node['synced']}}/{{node['height']}}/{{node['behind']}}</div>-->
                    <div class="alert alert-info" role="alert">Sync: {{node['synced']}} / {{node['height']}}</div>
                </div>
                <div class="col-md-3">
                    <div class="alert alert-info" role="alert"><a href="{{ n['explorer'] }}blocks/{{node['lastforged_id']}}" target="_blank">Last forged:</a> {{node['lastforged_no']}}, {{node['lastforged_ago']}}&Prime; ago</div>
                </div>
                <div class="col-md-3">
                    <div class="alert alert-info" role="alert">Yield<sup>(*)</sup>: {{node['yield']}}%</div>
                </div>
            </div>
            <div class="text-right">
                <small><i><sup>(*)</sup>Yield calculated over the last 100 rounds</i></small>
            </div>
            <!--
            <div class="row">
                <div class="col-md-3">
                    <div class="alert alert-info" role="alert">Height: {{node['height']}}</div>
                </div>
            </div>
            -->

            <h2><center>Pool Ledger</center></h2>

            <input type="text" id="input" onkeyup="Filter()" placeholder="Search by Address...">

            <table class="table table-striped table-hover table-bordered" id="table">
                <thead>
                    <tr class="header">
                        <th>Address</th>
                        <th>Pending ({{n['coin']}})</th>
                        <th>Paid ({{n['coin']}})</th>
                        <th>Supply (%)</th>
                </thead>
                <tbody>
                  {% for r in row %}
                    {% if (loop.index == 1) %}
                      <tr class="summaryrow">
                          <td>{{ r[0] }}</a></td>
                          <td class="pending">{{ r[1]/100000000 }}</td>
                          <td class="paid">{{ r[2]/100000000 }}</td>
                          <td>{{ r[3] }}%</td>
                      </tr>
                    {% else %}
                      <tr>
                          <td><a href="{{ n['explorer'] }}wallets/{{ r[0] }}" target="_blank">{{ r[0] }}</a></td>
                          <td class="pending">{{ r[1]/100000000 }}</td>
                          <td class="paid">{{ r[2]/100000000 }}</td>
                          <td>{{ r[3] }}%</td>
                      </tr>
                    {% endif %}
                  {% endfor %}
                </tbody>
            </table>

        </div>

<script>
function Filter() {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("input");
  filter = input.value.toUpperCase();
  table = document.getElementById("table");
  tr = table.getElementsByTagName("tr");

  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>

</body>

</html>
